version: "3"
services:
  eurekaserver:
    image: "{{ images_prefix }}/{{ eureka_image_name }}"
    ports:
      - "8761:8761"
  weatherservice:
    image: "{{ images_prefix }}/{{ weather_service_image_name }}"
    ports:
      - "8081:8081"
    depends_on:
      - eurekaserver
    environment:
      - JAVA_OPTS=
         -DB_SERVER=jdbc:postgresql://{{ db_server }}:5432/postgres
  currencyservice:
    image: "{{ images_prefix }}/{{ currency_service_image_name }}"
    ports:
      - "8082:8082"
    depends_on:
      - eurekaserver
    environment:
          - JAVA_OPTS=
             -DB_SERVER=jdbc:postgresql://{{ db_server }}:5432/postgres
  predict:
    image: "{{ images_prefix }}/{{ predict_service_image_name }}"
    ports:
      - "8080:8080"
    depends_on:
      - eurekaserver
      - weatherservice
      - currencyservice
